
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.chatRoom {
	position: fixed;
	float: left;
	z-index: 200;
	bottom: 0;
	background-color: white;
	width: 300px;
	margin-left: 30px;
}

h2.chatHeader {
	margin: 0px;
	padding-left: 5%;
	width: 95%;
	background-color: #98C6D9;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	letter-spacing: 0.060em;
	font-weight: lighter;
}

.chatWindow p {
	margin: 2px 0px 2px 5px;
	font-family: 'Open Sans', sans-serif;
}

.msg {
	background-color: #FAFAFA;
	height: 250px;
	overflow-y: auto;
}

.msg p {
	margin: 2px 5px
}

span#user {
	font-weight: bold;
}

.inputMsg {
	width: 70%;
	height: 25px;
	resize:none;
	margin: 0px;
}

.sendMsg {
	float: right;
	width: 28%;
	height:25px;
	padding-top: 6px;
	margin: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color : #FFF;
	background-color: #419433;
	}

.sendMsg:hover {
	cursor: pointer;
}

.chatWindow {
	display: none;
}

.newMsgNotification{
	background-color: red !important;
	-webkit-animation: msgNotification 2s 0s linear infinite;
}


@-webkit-keyframes msgNotification {
	0% {
		background-color: #CD2626;
	}
	
	100% {
		
		background-color: #70908a;
	}
}

