@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@-webkit-keyframes jamAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}
	
	100% {
		
		transform: scale(1);
	}
}

html, body {
	position: fixed;
	width: 100%;
	height: 100%;	
	margin: 0;
	padding: 0;
	background-color: #E7E6E8;
	}

.logo {
	width: 100%;

}

.header img {
	width: 29%;
	position: relative;
	margin-left: auto;
    margin-right: auto;
    margin-top: -180px;
}


.logo img {
	width: 10%;
	position: absolute;
	left: 50%;
	margin-left: -5%;
	top : 15%;
}

.join {
	background-color: #5E4B7F;
	width: 30%;
	height: 10%;
	position: absolute;
	left: 50%;
	margin-left: -15%;
	top:45%;
	border-radius: 10px;
}

#center {
	width: 30%;
	height: 10%;
	position: absolute;
	left: 50%;
	margin-left: -15%;
	top:30%;
}

.join:hover {
	cursor: pointer;
	-webkit-animation: jamAnim 0.7s 0s linear infinite;
}


.join p {
	font-family: 'Open Sans', sans-serif;
	color : white;
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 30px;
	margin-top: 12px;
}

input {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	width: 60%;
	height: 30px;
	margin-top: 30px;
}

#jamConnect {
	background-color: #5E4B7F;
	width: 30%;	
	position: relative;
	height: 50%;		
	left: 50%;
	margin-left: -15%;
	border-radius: 10px;
}

#jamConnect p {
	font-family: 'Open Sans', sans-serif;
	color : white;
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 30px;
}

#jamConnect:hover {
	cursor: pointer;
}

footer {
  background-color: #98C6D9;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9vh;
  position: fixed;
}

footer .social img {
	height: 45px;
}

footer .social {
  margin-left: 41.5%;
  margin-top: -7px;
  padding: 0;
  list-style-type: none;
  text-align: center;
  position: absolute;
}

footer .social li {
  display: inline;
  margin: 0 5px;
}

/*  Error form */

.error {
	color: red;
	font-family: 'Open Sans', sans-serif;
	height: 20px;
	text-align: center;
}

/* cookie alert */
.alerteCookie {

	width: 100%;
	position: absolute;
	z-index: 200;
	background-color: rgba(30,30,30,0.7);
	height: 5%;

}

.alerteCookie p {
	width: 100%;
	text-align: center;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;

}

.alerteCookie p span {
	float: right;
	font-size: 30px;
	margin: 0px 30px;
}

.alerteCookie p span:hover {
	cursor: pointer;
}

/*facebook log in */
.fb_iframe_widget{
    text-align: center;
<<<<<<< Updated upstream
    width: 100%;
=======
    width: 30%;

    left: 50%;
    margin-left: -15%;
  
    border-radius: 10px;
>>>>>>> Stashed changes
}

.fb-login-button {
	margin-top: 16%;
	cursor: pointer;
	
}
