@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@-webkit-keyframes jamAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}
	
	100% {
		
		transform: scale(1);
	}
}

html, body {
	position: fixed;
	width: 100%;
	height: 100%;	
	margin: 0;
	padding: 0;
	background-color:#FFFDD5;
	}

.logo {
	width: 100%;

}

.logo img {
	width: 10%;
	position: absolute;
	left: 50%;
	margin-left: -5%;
	top : 15%;
}

.join {
	background-color: #5E4B7F;
	width: 30%;
	height: 10%;
	position: absolute;
	left: 50%;
	margin-left: -15%;
	top:45%;
	border-radius: 10px;
}

#center {
	width: 30%;
	height: 10%;
	position: absolute;
	left: 50%;
	margin-left: -15%;
	top:45%;
}

.join:hover {
	cursor: pointer;
	-webkit-animation: jamAnim 0.7s 0s linear infinite;
}

.join p {
	font-family: 'Open Sans', sans-serif;
	color : white;
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 30px;
}

footer {
  background-color: #BD96FF;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9vh;
  position: fixed;
}

footer .social img {
	height: 45px;
}

footer .social {
  margin-left: 41.5%;
  margin-top: -7px;
  padding: 0;
  list-style-type: none;
  text-align: center;
  position: absolute;
}

footer .social li {
  display: inline;
  margin: 0 5px;
}



