@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
	margin : 0;	
}

/* Default */

@-webkit-keyframes msgNotification {
	0% {
		background-color: #CD2626;
	}
	
	100% {
		
		background-color: #70908a;
	}
}

/* Loader */

.loader {
	position: absolute;
	width: 90%;		
	padding: 10% 5% 5% 5%;
	height: 100%;
	background-color: #FFFDD5;
}

.containerLoader {
	width: 60%;
	height: 5%;
	background-color: #8E70BF;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -30%;
	padding: 10px;

}

.loading {
	position: relative;
	width: 0%;
	height: 100%;
	background-color: #5E4B7F;
}

.newMsgNotification{
	background-color: red !important;
	-webkit-animation: msgNotification 2s 0s linear infinite;
}

.row1 .key {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 5px; 
}

.pad {
	position: absolute;
	width: 90%;		
	padding: 10% 5% 5% 5%;
	display: none;
	height: 100%;
}

.row1 {
	width: 1050px;
	margin: auto ;
	height: 100px;
}

.row2 .key {
	height: 100px;
	width: 100px;	
	float: left;
	margin-right: 5px; 
}

.row2 {
	padding-left: 100px;
	display: block;
	height: 100px;
	width: 1050px;
	margin: auto;
	margin-top: 5px;
}

.row3 .key {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 5px; 
}

.row3 {
	padding-left: 200px;
	display: block;
	height: 100px;
	width: 1050px;
	margin: auto;
	margin-top: 5px;
}


/*Select instrument*/
.arrowIn {
	margin: 0px;
	width: 20%;
	position: absolute;
	left: 50%;
	margin: 0;
	margin-left: -10%;
	margin-top: -33px;
	
}

.arrowIn h2 {
	background-color: #70908a;
	color: #FFF;
	margin: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	letter-spacing: 0.060em;
	font-weight: lighter;
}

.instrumentSelect {
	width: 100%;
	position: fixed;
	float: left;
	bottom: 0;
	
	}

.instrumentList {
	display: none;
	width: 100%;
	background-color:  #CCC;
	height: 220px;
	overflow-x: scroll;
	margin-bottom: -20px;

}

.instrumentList ul {
	margin: 0;
	margin-left: 50px;
	height: 190px;
	padding: 0;
	
;}

.instrumentList ul li {
	list-style: none;
	display: inline-block;
	height: 180px;
	width: 180px;
	margin: 10px 10px;
	background-color: #000;
	border-radius: 10px;
	border:2px solid transparent;
	position: relative;
}

.instrumentList ul li.active {
	border:2px solid #333;
}

.instrumentList ul li p:hover {
	border:2px solid white;
	cursor: pointer;
}
.instrumentList ul li img{
	float: right;
	position: absolute;
}
.instrumentList ul li p {
	display: none;
	font-family: 'Open Sans', sans-serif;
	line-height: 180px;
	font-size: 19px;
	border:2px solid transparent;
	padding: 0;
	margin: 0;
	margin-top:-2px;
	margin-left: -2px; 
	width: 180px;
	height: 180px;
	color:white;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(10, 10, 30, 0.4);
	position: absolute;
	float: left;
}

/*users list */

.users-list {
	position: absolute;
	z-index: 1000;
	cursor: pointer;
}

.user-in-list {
	z-index: 1000;
	margin-right: 10px;
}

/*Theme 1*/
#theme1 .row1 .key {
	background-color: #BD96FF;
}

#theme1 {		
	background-color: #FFFDD5;
}

#theme1 .row2 .key {
	background-color: #8E70BF;
}

#theme1 .row3 .key {
	background-color: #5E4B7F;
}

#theme1 .instrumentList {
	background-color: #BD96FF;
}

#theme1 li {
	background-color: #FFFDD5;
}
/*Theme 2*/
#theme2 .row1 .key {
	background-color: #8DCBCB;
}

#theme2 {		
	background-color: #7F5E4B;
}

#theme2 .row2 .key {
	background-color: #42CBCA;
}

#theme2 .row3 .key {
	background-color: #4B7F7F;
}

#theme2 .instrumentList {
	background-color: #8DCBCB;
}

#theme2 li {
	background-color: #7F5E4B;
}

/*Theme 3*/
#theme3 .row1 .key {
	background-color: #A0CBAD;
}

#theme3 {		
	background-color: #CB6463;
}

#theme3 .row2 .key {
	background-color: #71CB8B;
}

#theme3 .row3 .key {
	background-color: #577F63;
}

#theme3 .instrumentList {
	background-color: #A0CBAD;
}

#theme3 li {
	background-color: #CB6463;
}